[
  {
    "name": "petr4",
    "type": "acoes"

  },
  {
    "name": "vale3",
    "type": "acoes"

  },
  {
    "name": "hglg11",
    "type": "fiis"
  },
  {
    "name": "gogl34",
    "type": "bdrs"
  }
]